#   Importing Libraries

In [1]:
# import Libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

#  Loading Dataset

In [2]:
# loading csv data in panda frame 
df = pd.read_csv(r'C:\Users\Sayanthan\Documents\ML-heart_disease_Prediction\heart_disease.csv')

In [3]:
# print first five row data 
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [4]:
# Check the number of missing values in each column
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [5]:
#Returns a tuple of the number of rows and columns in the dataframe.
df.shape

(918, 12)

#  Data Cleaning & Preprocessing

In [6]:
# give proper name columns
df = df.rename(columns={'HeartDisease': 'target'})

In [7]:
# Convert categorical columns to numerical

# Define the categorical columns
categorical_cols = ['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope']

# Create an instance of the LabelEncoder
le = LabelEncoder()

# Loop through each categorical column and encode its values
for col in categorical_cols:
    encoded_col = le.fit_transform(df[col])
    df[col] = encoded_col

In [8]:
# print first five row data 
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,target
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0

In [9]:
# Normalize numerical columns


# Normalize 'Age' column
scaler = MinMaxScaler()
df['Age'] = scaler.fit_transform(df[['Age']])

# Normalize 'RestingBP' column
scaler = MinMaxScaler()
df['RestingBP'] = scaler.fit_transform(df[['RestingBP']])

# Normalize 'Cholesterol' column
scaler = MinMaxScaler()
df['Cholesterol'] = scaler.fit_transform(df[['Cholesterol']])

# Normalize 'MaxHR' column
scaler = MinMaxScaler()
df['MaxHR'] = scaler.fit_transform(df[['MaxHR']])

# Normalize 'Oldpeak' column
scaler = MinMaxScaler()
df['Oldpeak'] = scaler.fit_transform(df[['Oldpeak']])

In [10]:
# print first five row data 
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,target
0,0.244898,1,1,0.70,0.479270,0,1,0.788732,0,0.295455,2,0
1,0.428571,0,2,0.80,0.298507,0,1,0.676056,0,0.409091,1,1
2,0.183673,1,1,0.65,0.469320,0,2,0.267606,0,0.295455,2,0
3,0.408163,0,0,0.69,0.354892,0,1,0.338028,1,0.465909,1,1
4,0.530612,1,2,0.75,0.323383,0,1,0.436620,0,0.295455,2,0

In [11]:
# Prepare the data for modeling
X = df.drop('target', axis=1)
y = df['target']
print("shape of x is  : ",X.shape)
print("shape of x is  : ",y.shape)

shape of x is  :  (918, 11)
shape of x is  :  (918,)

#  Train Test Split

In [12]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

# using Random Forest

In [13]:
# Create a RandomForest model 
RF_clf  = RandomForestClassifier()

# Fit the model using the training data
RF_clf.fit(X_train, y_train)

RandomForestClassifier()

In [14]:
# Evaluate the model on the test set
RF_pred = RF_clf.predict(X_test)

In [15]:
# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, RF_pred)

# Print the accuracy
print(f"Accuracy: {accuracy}")

Accuracy: 0.8840579710144928